In [ ]:
import json, math
import copy

In [ ]:
''' String Methods '''
a = '  Himanshu,Balwant    '
a.upper() # convert to uppercase
a.lower() # convert to lowercase
a.lstrip() # remove empty spaces at the beginning
a.replace('H', 'J').strip() # replace the value with another value
a.strip().split(',') # split the string into a list
a.find('shu') # find the index of the value if not found return -1
a.index('shu') # find the index of the value if not found return error

7

In [ ]:
''' Arithmetic Operators '''
a, b = 10, 3
a + b
a - b
a * b
a / b
a // b
a ** b
a % b

3

In [ ]:
''' Assignment Operators '''
a += 1
a -= 1
a *= 2
a /= 2
a %= 2

In [39]:
''' Comparison Operators '''
a, b = 10, 3
a > b
a < b
a >= b
a <= b
a == b
a != b

True

In [ ]:
''' Logical Operators '''
a and b
a or b
(a and b ) or (not a)
not a

False

In [ ]:
''' Identity Operators '''
a is b
a is not b

' Identity Operators '

In [ ]:
''' Membership Operators '''
a in b
a not in b

TypeError: argument of type 'int' is not iterable

In [81]:
''' Lists Methods '''
a = ['Himanshu', 'Aman', 'Saket']
len(a)
str(a)
', '.join(a)
a[1:2] = ['Hero', 'Ironman']
a.insert(2, 'Thor')

b = ['Superman', 'Batman', 'Flash']
a.extend(b)
a.append('Wolverine')
a.remove('Flash')
a.pop(0)
for i in a:
    i
for i in range(len(a)):
    a[i]
[True if 'a' in i else False for i in a]
[i for i in a if 'a' in i]
a.sort(reverse=True)
a.reverse()
b = a.copy()
b = copy.copy(a)
b = a[:]
a.index('Batman')

0

In [103]:
''' Dictionary Methods '''
a = {
    'name': 'Himanshu',
    'age': 23,
    'skill': 'Web Development',
    'year': 2026
}
a['name']
a.get('age')
len(a)
a.keys()
a.values()
a.items()
a['year'] = 2027
a.update({'name': 'Saket', 'age': 25, 'hobby': 'Learning'})
# del a['age']
a.pop('age')
b = a.copy()
b = dict(a)
b = copy.deepcopy(a)

c = {
    'child1': {
        'name': 'Himanshu',
        'age': 23
    },
    'child2': {
        'name': 'Balwant',
        'age': 25
    }
}
c['child1']['name']

'Himanshu'

In [104]:
''' Lambda Functions '''
a = lambda x: x + 10
a(20)

30

In [126]:
''' Datetime Methods '''
from datetime import datetime, timedelta
a = datetime.now()
b = a.strftime('%Y-%m-%d %H:%M:%S')
c = datetime.strptime(b, '%Y-%m-%d %H:%M:%S')
c.year
c.month
c.day
c.hour
c.minute
c.second
c + timedelta(days=10, hours=5, minutes=10, seconds=59)

datetime.datetime(2026, 2, 10, 20, 43, 4)

In [138]:
''' Math Methods '''
min([1, 3, 5, -1])
max([1, 3, 5, -1])
math.pi
math.sqrt(24)
abs(-3)
math.floor(-10.5)
math.ceil(11.1)
round(10.51)

11

In [ ]:
''' Time Methods '''
import time
a = time.time()
time.sleep(0.1)
time.localtime()
start = time.time()
for i in range(1_000_000):
    pass
end = time.time()
print("Time taken:", end - start)

Time taken: 0:00:00.023009

In [185]:
''' Random Methods '''
import random
a = ['Himanshu', 'Saket', 'Jai', 'Mohit', 'Sanjay', 'Vijay', 'Rahul']
# random.seed(1)
random.random()
random.randint(1, 5)
random.randrange(1, 10, 2)
random.choice(a)
random.sample(a, 3)
random.uniform(5, 10)
random.shuffle(a)
a

['Mohit', 'Himanshu', 'Jai', 'Saket', 'Sanjay', 'Vijay', 'Rahul']

In [188]:
''' Json Methods '''
a = {
    'name': 'Himanshu',
    'age': 23
}
b = json.dumps(a)
c = json.loads(b)
c

{'name': 'Himanshu', 'age': 23}